.Comment--box {
  outline: 1px salmon solid;
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

/* .Comment--box img {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  object-fit: cover;
} */
