.Feed {
  display: flex;
  justify-content: center;
}

.Feed__all-posts-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Feed__one-post-wrapper {
  width: 100%;
  outline: 1px green solid;
}

.Feed__one-post--like-comment-box {
  display: flex;
  justify-content: space-evenly;
}
